<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - about.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Landing Page About partial
;              About Pets-R-Us gives a brief description
;              of the company and its services.
============================================ -->

<div class="about-section padded">
	<div class="section-title">About Us</div>
	<div class="about-content">
		<div class="wrap-image"><img src="./images/about-shower.jpg" alt="Dog getting a shower" class="reverse" /></div>
		<div class="paragraph">
			<%- companyName %>&nbsp;is a series of pet stores in Pope County, Arkansas with shops in Russelville, Pottsville, and Dover. We focus on
			caring for your pets as if they were our own. We have many great pets for adoption and we are your one-stop-shop for treats, toys, and
			accessories. We recently added 3 new services that we are excited to share with you.
		</div>
		<div class="paragraph">
			Dog boarding for 5 or more nights is now available at all of out locations. We have individual bedding areas and a staff that will show your
			dog the care it deserves. Check out our <a href="#">boarding page</a> for more information.
		</div>
		<div class="paragraph">
			Dog training is back for all stages of your dog’s life. It appears you can teach an old dog new tricks and we are here to help you have the
			best possible relationship with your furry friend. Be sure to look at our training schedule to see what might fit your schedule on our
			<a href="#">training page</a>.
		</div>
		<div class="paragraph">
			Everyone wants their four-legged pals to look their best. Be it for a special occasion, meeting new dogs at the park, or just lounging around
			the home, our grooming packages will get your dog feeling and looking their best. Find which package suits you both on our
			<a href="/grooming.html">grooming page</a>.
		</div>
		<div class="paragraph">
			With years of experience, a staff that loves all kinds of pets, stocked shelves overflowing, and the best prices in town, you are guaranteed
			to find everything that you could possibly need at <%- companyName %>, the award-winning pet stores of Pope County, Arkansas.
		</div>
	</div>
	<div class="call-to-action">
		<!-- Link to training page staff section -->
		<a href="#"><div class="btn btn-primary meet-staff">Meet the Staff</div></a>
	</div>
</div>
