<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - contact-form.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Landing Page Contact Form partial
;              A simple contact form with a submit button
;				   ***Not hooked up to a back end yet!***
============================================ -->

<div class="contact-form" id="contact">
	<!-- Contact Form Title -->
	<div class="section-title">Contact Us</div>
	<div class="contact-form-content">
		<!-- Contact Form -->
		<div class="form">
			<div class="form-group">
				<!-- Contact Form Name Input Field -->
				<label for="name">Name</label>
				<input type="text" class="input" id="name" name="name" placeholder="Enter name" />
			</div>
			<div class="form-group">
				<!-- Contact Form Email Input Field -->
				<label for="email">Email</label>
				<input type="email" class="input" id="email" name="email" placeholder="Enter email" />
			</div>
			<div class="form-group">
				<!-- Contact Form Message Input Field -->
				<label for="message">Message</label>
				<textarea class="input" id="message" name="message" rows="3"></textarea>
			</div>
			<!-- Contact Form Submit Button -->
			<div class="btn btn-primary">Submit</div>
		</div>
	</div>
</div>
