<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - footer.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 All Pages Footer partial
;              Footer section with social media links
;				   location, contact information, and copywrite
============================================ -->

<div class="footer">
	<div class="footer-social">
		<div class="footer-social-icon">
			<a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
		</div>
		<div class="footer-social-icon">
			<a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
		</div>
		<div class="footer-social-icon">
			<a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
		</div>
		<div class="footer-social-icon">
			<a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
	<div class="footer-links">
		<div class="footer-link"><a href="/">Home</a></div>
		<div class="footer-link"><a href="boarding">Boarding</a></div>
		<div class="footer-link"><a href="/grooming">Grooming</a></div>
		<div class="footer-link"><a href="training">Training</a></div>
		<div class="footer-link">Customer List</div>
		<div class="footer-link">Booking</div>
		<div class="footer-link">My Appointments</div>
		<div class="footer-link">Register</div>
		<div class="footer-link"><a href="/#contact">Contact Us</a></div>
	</div>
	<div class="footer-locations">
		<div class="footer-location">
			<div class="footer-location-title">Russelville</div>
			<div class="footer-location-address">318 S Houston Ave</div>
			<div class="footer-location-address">Russellville, AK 72801</div>
			<div class="footer-location-phone">(870) 888-0890</div>
		</div>
		<div class="footer-location">
			<div class="footer-location-title">Pottsville</div>
			<div class="footer-location-address">15 E Ash St</div>
			<div class="footer-location-address">Pottsville, AK 72858</div>
			<div class="footer-location-phone">(479) 968-8369</div>
		</div>
		<div class="footer-location">
			<div class="footer-location-title">Dover</div>
			<div class="footer-location-address">9674 Market St</div>
			<div class="footer-location-address">Dover, AK 72837</div>
			<div class="footer-location-phone">(479) 747-1258</div>
		</div>
	</div>
	<div class="copyright">&copy;<%- new Date().getFullYear() %> | <%- companyName %> | A Bellevue University Class Project</div>
</div>
