<div class="footer">
   <div class="copyright"></div>
   <ul class="footer-links">
      <li class="footer-link">Home</li>
      <li class="footer-link">Boarding</li>
      <li class="footer-link">Grooming</li>
      <li class="footer-link">Training</li>
      <li class="footer-link">Customer List</li>
      <li class="footer-link">Booking</li>
      <li class="footer-link">My Appointments</li>
      <li class="footer-link">Register</li>
      <li class="footer-link">Contact Us</li>
   </ul>
</div>