<div class="footer">
   <div class="copyright">&copy;<%- new Date().getFullYear() %> - <%- companyName %> A Bellevue University Class Project</div>
   <div class="footer-links">
      <div class="footer-link">Home</div>
      <div class="footer-link">Boarding</div>
      <div class="footer-link">Grooming</div>
      <div class="footer-link">Training</div>
      <div class="footer-link">Customer List</div>
      <div class="footer-link">Booking</div>
      <div class="footer-link">My Appointments</div>
      <div class="footer-link">Register</div>
      <div class="footer-link">Contact Us</div>
   </div>
</div>