<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - grooming-about.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Grooming Page about partial
;              This section is a series of simple paragraphs
;				   describing the grooming services offered.
============================================ -->

<div class="grooming">
	<div class="grooming-title">Grooming</div>
	<div class="grooming-content">
		<div class="grooming-image"><img src="./images/grooming.jpg" alt="Dog getting a shower" /></div>
		<div class="grooming-text">
			At <%- companyName %>, grooming is a way of life. We believe that pets deserve only the best in grooming, so we offer a
			variety of professional grooming services designed to pamper your four-legged friend. Keep your dog looking good and smelling great with
			regular visits to our groomers.
		</div>
		<div class="grooming-text">
			We offer clean facilities and pleasant smelling surfaces so that you can relax while getting your pet's routine maintenance done. Our
			professional staff provides a great experience for your pet, as well as you! We know your dog is an important member of your family, and
			we're here to make sure they look their best!
		</div>
		<div class="grooming-text">
			Our groomers have high standards of care and as such, have been responsible for many dog show winners. We are always looking to improve. We want to make sure every member of your family feels comfortable coming back to our place—so if there's ever anything we can do better,
			please let us know!
		</div>
		<div class="grooming-text">
			Our staff is trained to give you the attention and care that you deserve, whether you're looking for a quick wash and blowdry or a
			comprehensive full-service grooming session. We offer a wide range of services for your dog's needs—from basic baths and ear cleanings to
			more involved procedures like teeth cleaning and nail clipping.
		</div>
		<div class="grooming-text">
			Below are some of out best packages. The Deluxe Package has been the award-winning package and a fan favorite for years. Choose from these or contact our staff and we'll work with you to create a custom package that's perfect
			for your dog.
		</div>
		<div class="grooming-call-to-action">
			<a href="/#contact"><div class="btn btn-primary meet-staff">Contact Us</div></a>
		</div>
	</div>
</div>
