<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - grooming-pricing.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 GRooming Page Prices partial
;              This section details the different grooming packages 
;              and their prices for Pets-R-Us
============================================ -->

<div class="packages-pricing-section padded">
	<div class="section-title">Grooming Package Pricing</div>

	<div class="packages-pricing">
		<!-- package-pricing Card 1-->
		<div class="package-pricing">
			<div class="package-pricing-header">Basic Package</div>
			<div class="package-pricing-body">
				<table>
               <!-- Package Details -->
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Double Shampoo Wash & Blow Dry</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>15+ Minutes Brushing</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Ear Cleaning</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Ear Hair Removal</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Nail Trim</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Nail Grind</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Anal Gland Expression</td></tr>
               <tr><td></td><td class="package-right">..And Always a Tasty Treat!</td></tr>
				</table>
			</div>
			<div class="package-price">$42-</div>
		</div>

		<!-- package-pricing Card 2-->
		<div class="package-pricing">
			<div class="package-pricing-header">Plus Package</div>
			<div class="package-pricing-body">
				<table>
               <!-- Package Details -->
					<tr><td><i class="fa-solid fa-paw"></i></td><td class="package-plus">Everything from the Basic Package, Plus...</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>30 Minutes Brushing</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Teeth Brushing</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Brush/Massage in Hydrobath&trade;</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Ear Hair Removal</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Towel Dry Face</td></tr>
               <tr><td></td><td class="package-right">..And Always a Tasty Treat!</td></tr>
				</table>
			</div>
			<div class="package-price">$47-</div> <!-- Price -->
		</div>

		<!-- package-pricing Card 3-->
		<div class="package-pricing popular"> <!-- Popular makes it stand out -->
			<div class="package-pricing-header">Deluxe Package</div>
			<div class="package-pricing-body">
				<table>
					<!-- Package Details -->
               <tr><td><i class="fa-solid fa-paw"></i></td><td class="package-plus">Everything from the Previous Packages, Plus...</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>De-Shedding Treatment</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Flea and Tick Applications</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Pawdicures For Special Occasions</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Advanced Scissor Work</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Bandana, Scarf, or Bow</td></tr>
               <tr><td></td><td class="package-right">..And Always a Tasty Treat!</td></tr>
				</table>
			</div>
			<div class="package-price">$50-</div> <!-- Price -->
         <!-- Footer section with additional information -->
			<div class="package-pricing-footer">Most Popular</div>
		</div>

		<!-- package-pricing Card 4-->
		<div class="package-pricing">
			<div class="package-pricing-header">Premium Package</div>
			<div class="package-pricing-body">
				<table>
               <!-- Package Details -->
					<tr><td><i class="fa-solid fa-paw"></i></td><td class="package-plus">Everything from the Previous Packages, Plus...</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Aloe Remoisturizing Treatments For Skin and Coat</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>De-Shedding Treatment / The Fabulous “FURminator”</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Shave-Downs / Lioncuts</td></tr>
					<tr><td><i class="fa-solid fa-paw"></i></td><td>Therapeutic / Specialty Shampoos</td></tr>
               <tr><td></td><td class="package-right">..And Always a Tasty Treat!</td></tr>
				</table>
			</div>
			<div class="package-price">$60-</div> <!-- Price -->
		</div>
	</div>
</div>
