<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - hero.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Landing Page Hero partial
============================================ -->

<div class="hero-section">
   <div class="hero-content">
      <div class="hero-title"><%- companyName %></div>
      <div class="hero-subtitle">Where Fur Meets Friends</div>
      <a href="#"><div class="hero-button">Sign Up Now!</div></a>
   </div>
   <div class="hero-down-arrow"><i class="fa-solid fa-chevron-down"></i></div>
</div>