<div class="locations-sections">
	<div class="locations-title">Store Locations</div>
	<div class="locations">
		<!-- Location 1 -->
		<div class="location">
			<div class="location-name">Russelville</div>
			<div class="location-address">
				<p>
					<span class="location-address-street">318 S Houston Ave,</span>
					<span class="location-address-city">Russellville,</span>
					<span class="location-address-state">AK</span>
					<span class="location-address-zip">72801</span>
				</p>
			</div>
			<div class="location-phone">Tel: (870) 888-0890</div>
			<div class="location-hours">
				Store Hours
				<table class="location-hours-table">
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Monday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Tuesday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Wednesday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Thursday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Friday</td>
						<td class="hours-table-cell">8:00 AM - 5:00 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Saturday</td>
						<td class="hours-table-cell">9:00 AM - 4:00 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Sunday</td>
						<td class="hours-table-cell">Closed</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Location 2 -->
		<div class="location">
			<div class="location-name">Pottsville</div>
			<div class="location-address">
				<p>
					<span class="location-address-street">15 E Ash St,</span>
					<span class="location-address-city">Pottsville,</span>
					<span class="location-address-state">AK</span>
					<span class="location-address-zip">72858</span>
				</p>
			</div>
			<div class="location-phone">Tel: (479) 968-8369</div>
			<div class="location-hours">
				Store Hours
				<table class="location-hours-table">
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Monday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Tuesday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Wednesday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Thursday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Friday</td>
						<td class="hours-table-cell">8:00 AM - 5:00 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Saturday</td>
						<td class="hours-table-cell">9:00 AM - 4:00 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Sunday</td>
						<td class="hours-table-cell">Closed</td>
					</tr>
				</table>
			</div>
		</div>

		<!-- Location 3 -->
		<div class="location">
			<div class="location-name">Dover</div>
			<div class="location-address">
				<p>
					<span class="location-address-street">9674 Market St,</span>
					<span class="location-address-city">Dover,</span>
					<span class="location-address-state">AK</span>
					<span class="location-address-zip">72837</span>
				</p>
			</div>
			<div class="location-phone">Tel: (479) 747-1258</div>
			<div class="location-hours">
				Store Hours
				<table class="location-hours-table">
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Monday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Tuesday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Wednesday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Thursday</td>
						<td class="hours-table-cell">8:00 AM - 6:30 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Friday</td>
						<td class="hours-table-cell">8:00 AM - 5:00 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Saturday</td>
						<td class="hours-table-cell">9:00 AM - 4:00 PM</td>
					</tr>
					<tr class="hours-table-row">
						<td class="hours-table-cell left-side">Sunday</td>
						<td class="hours-table-cell">Closed</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
