<div class="locations">
   <div class="locations-header">
      <h1 class="locations-header-text">Store Locations</h1>
   </div>
   <!-- Location 1 -->
   <div class="location">
      <div class="location-image"></div>
      <div class="location-name"></div>
      <div class="location-address"></div>
      <div class="location-phone"></div>
      <div class="location-hours">
         <table class="location-hours-table">
            <tr class="hours-table-row">
               <td class="hours-table-cell">Monday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Tuesday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Wednesday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Thursday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Friday</td>
               <td class="hours-table-cell">8:00 AM - 5:00 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Saturday</td>
               <td class="hours-table-cell">9:00 AM - 4:00 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Sunday</td>
               <td class="hours-table-cell">Closed</td>
            </tr>
         </table>
      </div>
   </div>

   <!-- Location 2 -->
   <div class="location">
      <div class="location-image"></div>
      <div class="location-name"></div>
      <div class="location-address"></div>
      <div class="location-phone"></div>
      <div class="location-hours">
         <table class="location-hours-table">
            <tr class="hours-table-row">
               <td class="hours-table-cell">Monday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Tuesday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Wednesday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Thursday</td>
               <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Friday</td>
               <td class="hours-table-cell">8:00 AM - 5:00 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Saturday</td>
               <td class="hours-table-cell">9:00 AM - 4:00 PM</td>
            </tr>
            <tr class="hours-table-row">
               <td class="hours-table-cell">Sunday</td>
               <td class="hours-table-cell">Closed</td>
            </tr>
         </table>
      </div>
   </div>

      <!-- Location 3 -->
      <div class="location">
         <div class="location-image"></div>
         <div class="location-name"></div>
         <div class="location-address"></div>
         <div class="location-phone"></div>
         <div class="location-hours">
            <table class="location-hours-table">
               <tr class="hours-table-row">
                  <td class="hours-table-cell">Monday</td>
                  <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
               </tr>
               <tr class="hours-table-row">
                  <td class="hours-table-cell">Tuesday</td>
                  <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
               </tr>
               <tr class="hours-table-row">
                  <td class="hours-table-cell">Wednesday</td>
                  <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
               </tr>
               <tr class="hours-table-row">
                  <td class="hours-table-cell">Thursday</td>
                  <td class="hours-table-cell">8:00 AM - 6:30 PM</td>
               </tr>
               <tr class="hours-table-row">
                  <td class="hours-table-cell">Friday</td>
                  <td class="hours-table-cell">8:00 AM - 5:00 PM</td>
               </tr>
               <tr class="hours-table-row">
                  <td class="hours-table-cell">Saturday</td>
                  <td class="hours-table-cell">9:00 AM - 4:00 PM</td>
               </tr>
               <tr class="hours-table-row">
                  <td class="hours-table-cell">Sunday</td>
                  <td class="hours-table-cell">Closed</td>
               </tr>
            </table>
         </div>
      </div>

</div>