<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - navbar.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 All Pages Header Navbar partial
;              Website menu links
============================================ -->

<div class="navbar">
   <div class="navbar-item"><a href="/">Home</a></div>
   <div class="navbar-item-dropdown">Services
      <div class="navbar-sub-items">
         <div class="navbar-sub-item"><a href="#">Boarding</a></div>
         <div class="navbar-sub-item"><a href="/grooming.html">Grooming</a></div>
         <div class="navbar-sub-item"><a href="#">Training</a></div>
      </div>
   </div>
   <div class="navbar-item"><a href="#">Customer List</a></div>
   <div class="navbar-item"><a href="#">Booking</a></div>
   <div class="navbar-item"><a href="#">My Appointments</a></div>
</div>