<div class="navbar">
   <div class="navbar-item"><a href="/">Home</a></div>
   <div class="navbar-item-dropdown">Services
      <div class="navbar-sub-items">
         <div class="navbar-sub-item"><a href="#">Boarding</a></div>
         <div class="navbar-sub-item"><a href="/grooming">Grooming</a></div>
         <div class="navbar-sub-item"><a href="#">Training</a></div>
      </div>
   </div>
   <div class="navbar-item"><a href="#">Customer List</a></div>
   <div class="navbar-item"><a href="#">Booking</a></div>
   <div class="navbar-item"><a href="#">My Appointments</a></div>
</div>