<div class="sheep-container">
	<h1>404! Don't Touch Me!</h1>
	<div class="sheep">
		<div class="head">
			<div class="eye"></div>
		</div>
		<div class="body">
			<div class="body-row">
				<div class="circle" id="circ-01"></div>
				<div class="circle" id="circ-02"></div>
				<div class="circle" id="circ-03"></div>
				<div class="circle" id="circ-04"></div>
				<div class="circle" id="circ-05"></div>
			</div>
			<div class="body-row">
				<div class="circle" id="circ-06"></div>
				<div class="circle" id="circ-07"></div>
				<div class="circle" id="circ-08"></div>
				<div class="circle" id="circ-09"></div>
				<div class="circle" id="circ-10"></div>
				<div class="circle" id="circ-11"></div>
			</div>
			<div class="body-row">
				<div class="circle" id="circ-12"></div>
				<div class="circle" id="circ-13"></div>
				<div class="circle" id="circ-14"></div>
				<div class="circle" id="circ-15"></div>
				<div class="circle" id="circ-16"></div>
				<div class="circle" id="circ-17"></div>
			</div>
			<div class="body-row">
				<div class="circle" id="circ-18"></div>
				<div class="circle" id="circ-19"></div>
				<div class="circle" id="circ-20"></div>
				<div class="circle" id="circ-21"></div>
				<div class="circle" id="circ-22"></div>
			</div>
		</div>
		<div class="legs">
			<div class="leg"></div>
			<div class="leg"></div>
			<div class="leg"></div>
			<div class="leg"></div>
		</div>
	</div>
	<div class="go-back">Go back to the <a href="/">Main Page</a>.</div>
</div>
