<div class="testimonials">

   <div class="testimonial-title">Latest Howls</div>
   <!-- Testimonial Card 1-->
   <div class="testimonial">
      <div class="testimonial-header"></div>
      <div class="testimonial-image"></div>
      <div class="testimonial-body">
         <div class="testimonial-rating"></div>
         <p class="testimonial-message"></p>
         <p class="testimonial-author"></p>
      </div>
   </div>

   <!-- Testimonial Card 2-->
   <div class="testimonial">
      <div class="testimonial-header"></div>
      <div class="testimonial-image"></div>
      <div class="testimonial-body">
         <div class="testimonial-rating">
            <i class="fa-sharp fa-solid fa-bone"></i>
            <i class="fa-sharp fa-solid fa-bone"></i>
            <i class="fa-sharp fa-solid fa-bone"></i>
            <i class="fa-sharp fa-solid fa-bone"></i>
            <i class="fa-sharp fa-solid fa-bone"></i>
            <br>
            <i class="fa-solid fa-shield-dog"></i>
            <i class="fa-solid fa-shield-dog"></i>
            <i class="fa-solid fa-shield-dog"></i>
            <i class="fa-solid fa-shield-dog"></i>
            <i class="fa-solid fa-shield-dog"></i>
            <br>
         <p class="testimonial-message"></p>
         <p class="testimonial-author"></p>
      </div>
   </div>

   <!-- Testimonial Card 3-->
   <div class="testimonial">
      <div class="testimonial-header"></div>
      <div class="testimonial-image"></div>
      <div class="testimonial-body">
         <div class="testimonial-rating"></div>
         <p class="testimonial-message"></p>
         <p class="testimonial-author"></p>
      </div>
   </div>

</div>