<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - testimonials.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Landing Page Testimonials partial
;              The various Testimonials given of Pets-R-Us
;  			 	with rating and a hand-written font style
============================================ -->

<div class="testimonials-section">
	<div class="section-title">Latest Howls</div>
	<!-- Testimonials Container -->
	<div class="cards-container testimonials">
		<!-- Testimonial Card 1-->
		<div class="card testimonial">
			<div class="card-header">
				<div class="testimonial-rating">
					<!-- A rating system using fontAwesome bones -->
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i><br />
					<span class="rating-sub-text">- 5 bones -</span>
				</div>
			</div>
			<div class="card-body">
				<p class="testimonial-message">
					I wish I had more dogs so I could bring them all here for more outstanding grooming! My lovely, Penny is show ready.
				</p>
				<p class="testimonial-author">-Priscilla O. from Dover</p>
			</div>
		</div>

		<!-- Testimonial Card 2-->
		<div class="card testimonial">
			<div class="card-header">
				<div class="testimonial-rating">
					<!-- A rating system using fontAwesome bones -->
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i><br />
					<span class="rating-sub-text">- 5 bones -</span>
				</div>
			</div>
			<div class="card-body">
				<p class="testimonial-message">
					My parents took our family dog here when I was a kid. Now I take my kids' dog here when we have to go on vacation. I trust them
					completely.
				</p>
				<p class="testimonial-author">-Kathy C. from Pottsville</p>
			</div>
		</div>

		<!-- Testimonial Card 3-->
		<div class="card testimonial">
			<div class="card-header">
				<div class="testimonial-rating">
					<!-- A rating system using fontAwesome bones -->
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i>
					<i class="fa-sharp fa-solid fa-bone"></i><br />
					<span class="rating-sub-text">- 5 bones -</span>
				</div>
			</div>
			<div class="card-body">
				<p class="testimonial-message">
					I found a training appointment that fit my needs and the staff was so friendly. My furniture thanks you!
				</p>
				<p class="testimonial-author">-Mitch Q. from Dover</p>
			</div>
		</div>
	</div>
</div>
