<div class="weekly-dig">
   <div class="weekly-dog-header">
      <h2>Dog of The Week</h2>
   </div>
   <div class="weekly-dog-image"><img src=""></div>
   <div class="weekly-dog-name">Sparticus</div>
   <div class="weekly-dog-stats">
      <table class="dog-stats">
         <tr class="dog-table-row" id="dog-owner">
            <td class="dog-table-category">Owner:</td>
            <td class="dog-table-value">Giselle</td>
         </tr>
         <tr class="dog-table-row" id="dog-breed">
            <td class="dog-table-category">Breed:</td>
            <td class="dog-table-value">Pug</td>
         </tr>
         <tr class="dog-table-row" id="dog-age">
            <td class="dog-table-category">Age:</td>
            <td class="dog-table-value">3 yrs</td>
         </tr>
         <tr class="dog-table-row" id="dog-fave-toy">
            <td class="dog-table-category">Favorite Toy:</td>
            <td class="dog-table-value">Knotted Rope</td>
         </tr>
         <tr class="dog-table-row" id="dog-fave-activity">
            <td class="dog-table-category">Favorite Activity:</td>
            <td class="dog-table-value">Sleeping on my lap</td>
         </tr>
      </table>
   </div>
</div>