<!-- ============================================
; Title: Assignment 4.2-9.2 - Pets-R-Us - write-up.html
; Author: Ace Baugh
; Start Date: 08/29/2022
; Description: WEB 340 Training Page Write-up partial
;              Training description for Pets-R-Us 
; ============================================ -->

<div class="write-up-section padded">
	<div class="section-title">About Our Training</div>
	<div class="prose-content">
		<div class="wrap-image"><img src="./images/training.jpg" alt="Dog getting a shower" class="reverse" /></div>
		<div class="paragraph">
			<%- companyName %> has a dog training school that can help your furry friend learn how to behave. Our goal is to make sure your dog is comfortable in any situation—whether it's at home or away from home. Whether you're looking for basic manners or something more advanced, we can help.We also have classes in basic manners, like how to walk on a leash without pulling or digging holes in the yard. And if you've got a puppy who needs extra training or just wants to learn a few new tricks, we have classes for that too! We'll help you choose the right class for your dog and make sure you feel confident in your ability to teach them.
		</div>
		<div class="paragraph">
			With classes starting soon, we offer obedience school for puppies and adults alike, as well as agility classes for dogs who like to run around instead of sit still. From puppy to adolescence and beyond, we can help your pet become the best dog they can be.
		</div>
		<div class="paragraph">
			Our trainers are all award-winning professionals who have worked with dogs of all shapes and sizes. Many of the dogs we train (and groom) have gone on to win best in show in local competitions. Below you can get to know some of our top trainers.
		</div>
		<div class="paragraph">
			Our courses include obedience school, agility classes, and even personal training sessions that will help you get the most out of your relationship with your dog. We offer a variety of classes starting soon—we'll work with you to find a schedule that fits around your schedule!
		</div>
		<div class="paragraph">
			We're here to help you train your dog. Check out our pricing below.
		</div>
	</div>
	<div class="call-to-action">
		<!-- Link to training page staff section -->
		<a href="/training#trainers"><div class="btn btn-primary meet-staff">Meet the Trainers</div></a>
	</div>
</div>
