@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lemon&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--text-color: #000;
	--background-color: #ddd;
	--header-background-color: #009fe8;
	--header-text-color: #fff;
	--anchor-color: #009fe8;
	--anchor-hover-color: #009fe8;
	--anchor-hover-background-color: #fff710;
	--btn-background-color: #009fe8;
	--btn-color: #fff;
	--btn-border-color: #000;
	--btn-hover-background-color: #fff710;
	--btn-hover-color: #009fe8;
	--card-background-color: #fff;
	--card-title-color: #4f3674;
	--card-border-color: #009fe8;
	--heading-background-color: #fff710;
	--heading-color: #fff;
	--heading-border-color: #fff710;
	--input-border-color: #009fe8;
	--input-active-border-color: #fff710;
	--feature-background-color: #fff710;
	--primary-font-family: 'Playfair Display', serif;
	--emphasis-font-family: 'Lemon', sans-serif;
	--handwritten-font-family: 'Gloria Hallelujah', cursive;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--header-background-color);
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: var(--primary-font-family);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
}

/* ##################
GENERIC COMPONENTS 
###################*/

a {
	color: var(--anchor-color);
	text-decoration: none;
}

a:hover {
	background: var(--anchor-hover-background-color);
	color: var(--anchor-hover-color);
}

/* Button styles */
.btn {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	cursor: pointer;
	padding: 1em 2em;
	border-radius: .5em;
	border: 2px solid var(--btn-border-color);
	font-family: var(--emphasis-font-family);
}

.btn-primary {
	background-color: var(--btn-background-color);
	color: var(--btn-color);
}

.btn-primary:hover {
	background-color: var(--btn-hover-background-color);
	color: var(--btn-hover-color);
	border-color: var(--btn-hover-color);
}

.call-to-action {
	margin: 2em 0;
	display: flex;
	justify-content: center;
}

/* Card styles */
.cards-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 1em 0;
	margin: 0.25em;
	gap: 0.5em;
}

.card {
	background-color: var(--card-background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
   justify-content: center;
	width: 17em;
	border: 2px solid var(--card-border-color);
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	transition: 0.3s;
}

.card-header{
	width: 100%;
	border-radius: 5px 5px 0 0;
	background-color: var(--header-background-color);
	text-align: center;
	font-size: 1.5em;
	font-family: var(--emphasis-font-family);
	padding: 1em 0;
}

.card-body {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.25em;
}

.card-body i {
	padding: 0.25em;
}

.card-footer{
	border-radius: 0 0 5px 5px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.popular {
	height: 30em;
	border: 2px solid var(--feature-background-color);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 30px var(--feature-background-color);
}

.popular .card-header {
	background-color: var(--feature-background-color);
}

.popular .card-footer {
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	font-family: var(--emphasis-font-family);
	background-color: var(--feature-background-color);
	border-radius: 0 0 5px 5px;
	padding: 1em 0;
}

/* Main Content Container */
.container {
	background-color: var(--background-color);
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Style for Forms */
.form {
	width: 30em;
}

/* Style for input fields */
.input {
   width: 100%;
	padding: .75em 1.25em;
	margin: 0.5em 0;
	display: inline-block;
	border: 2px solid var(--input-border-color);
	border-radius: 0.75em;
	box-sizing: border-box;
}

.input:active,
.input:focus {
   outline: none;
   border: 2px solid var(--input-active-border-color);
}

hr {
	border: 1px solid var(--card-border-color);
	width: 60%;
}

.left-side {
	text-align: left;
}

.padded {
	padding: 0 2em;
}

.paragraph {
   display: inline flex;
   margin-bottom: 1em;
}

.section-title {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 400;
	margin: 1rem 0;
	font-family: var(--emphasis-font-family);
}

.table-cell {
	padding: 0 0.5em;
}

.wrap-image img {
	float: right;
	max-width: 30%;
	padding: 0 0 0.5em 0.5em;
}

/* ##################
SPECIFIC COMPONENTS 
###################*/

/* Header styles */
.header {
	background-color: var(--header-background-color);
	color: var(--header-text-color);
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
	height: 3em;
	z-index: 1;
	box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.3);
}

/* Logo styles */
.logo {
	padding: 0 1em 0.5em;
	font-size: 2em;
	font-weight: bold;
	z-index: 2;
	font-family: var(--emphasis-font-family);
}

/* Anytime the company name is called
   it displays in one line */
.company-name {
   display: inline-flex;
}

/* Navigation styles */
.navbar {
	padding: 0 1em;
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
}

.navbar-item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Navigation link styles */
.navbar-item a {
	padding: 0 0.5em;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: var(--header-text-color);
	font-size: 1em;
	transition: 0.3s;
}

/* Navigation link dropdown styles */
.navbar-item-dropdown {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 0.5em;
	position: relative;
}

.navbar-sub-items {
	background-color: var(--header-background-color);
	transition: 0.3s;
	display: none;
	flex-direction: column;
	position: absolute;
	top: 2.25em;
	box-shadow: -10px 20px 10px rgba(0, 0, 0, 0.3);
}

.navbar-item-dropdown:hover .navbar-sub-items {
	display: flex;
	transition: 0.3s;
}
.navbar-sub-item a {
	color: var(--header-text-color);
	padding: 0.75em;
	width: 100%;
}

.navbar-sub-item {
	display: flex;
	transition: 0.3s;
}

.navbar-sub-item a:hover {
	background-color: var(--anchor-hover-background-color);
	color: var(--anchor-hover-color);
}

.navbar-item a:hover {
	background-color: var(--anchor-hover-background-color);
	color: var(--anchor-hover-color);
}

/* Landing Page Hero styles */
.hero-section {
	position: relative;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/hero-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	filter: brightness(60%);
}

.hero-content {
	position: relative;
	font-family: var(--emphasis-font-family);
	color: white;
	text-align: center;
	margin: 0.625rem;
}

.hero-title {
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 0;
	display: inline-flex;
}

.hero-subtitle {
	font-size: 2rem;
	font-weight: 200;
	margin-top: 1rem;
}

.hero-button {
	margin-top: 5rem;
	font-size: 1.125rem;
	box-shadow: -10px 20px 10px rgba(0, 0, 0, 0.3);
}

.hero-content a {
	color: var(--btn-color);
}

.hero-button:active {
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.hero-content a:hover {
	color: var(--btn-hover-color);
}

.hero-down-arrow {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 3em;
	font-size: 3.5em;
	color: var(--anchor-color);
}

/* Landing Page Locations styles */
.location {
   text-align: center;
}

.location-name {
	font-size: 1.75rem;
	font-weight: 700;
}

.location-address p {
	font-size: 1.25rem;
	font-weight: 400;
	margin-bottom: 0.5em;
}

.location-hours {
	margin: 1em 0;
	font-size: 1.25rem;
	font-weight: 700;
}

.location-hours-table {
	font-size: 0.75em;
	font-weight: 400;
	margin: 0.5em 0;
}

.weekly-dog {
	background-color: var(--feature-background-color);
	padding: 1em;
	margin-bottom: 2em;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.weekly-dog-title {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 400;
	margin-bottom: 1rem;
	font-family: var(--emphasis-font-family);
}

.reverse {
	transform: rotateY(180deg);
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.weekly-dog-content {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
}

.weekly-dog-image img {
	width: 10em;
	border-radius: 50%;
	margin-left: 2em;
}

.weekly-dog-name {
	font-size: 2em;
	font-weight: 700;
	margin: 0 0 0.5em 0;
}

.dog-stats {
	font-weight: 700;
}

.dog-table-category {
	padding-right: 0.5em;
}

/* Landing Page Testimonials styles */
.testimonial-rating {
	text-align: center;
}

.testimonial-rating i {
	color: var(--feature-background-color);
	font-size: 1.25em;
	font-weight: 700;
}

.rating-sub-text {
	color: var(--text-color);
	font-size: 1em;
	font-weight: 700;
}

.testimonial-message {
	font-family: var(--handwritten-font-family);
	padding: 1em;
}

.testimonial-author {
	text-align: right;
	padding: 0 1em 1em;
}

/* Landing Page Contact Form styles */
.contact-form {
	width: 100%;
	padding: 0 2em 2em;
}

.contact-form-content {
	display: flex;
	justify-content: center;
}

/* Grooming Page Packages styles */
.packages-pricing-section {
   padding: 1em 0 2em;
}

.packages-pricing {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
   padding-top: 1em;
}

.package-right {
	text-align: right;
	padding-top: 0.75em;
}

.package-plus {
	font-weight: 700;
}

.package-price {
	font-size: 1.5em;
	font-family: var(--emphasis-font-family);
	text-align: center;
	padding: 0.5em 0;
}

/* Footer Section for all pages */
.footer {
	padding: 1em;
	background-color: var(--feature-background-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Footer Social Media Links */
.footer-social {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer-social-icon {
	padding: 0 0.5em;
}

/* Footer menu links */
.footer-links {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer-link {
	padding: 0.5em;
}

.footer-link:hover {
	font-style: italic;
	font-weight: bold;
}

/* Footer Contact Info */
.footer-locations {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer-location {
	padding: 0.75em;
}
